h1 {
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
}

.card {
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    background: linear-gradient(135deg, #78DFFA, #fbc2eb);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}


